<link rel="stylesheet" href="../public/sample.css">

<div>
    <h1>カテゴリ</h1>

    <div class="btn--orange">
        <h1><%= category %></h1>
    </div>

</div>

<div>
    <a href="<%= category %>/new">
        <h2>cスレッドを作成</h2>
    </a>

    <% threads.forEach(thread => { %>
        <div class="btn--bule">
            <a href="/<%= category %>/<%= thread.title %>">
                <h3><%= thread.title %></h3>
            </a>
        </div>
    <% }) %>
</div>